/* header styles */

.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.headerBack {
  background-color: #0b66b5;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Home Page */

.home {
  display: flex;
}

.filters {
  background-color: #88d8fc;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
  border-radius: 10px;
}
/* .filters .btn{
  background-color: red;
  width: 120px;
  border-radius: 10px;
} */

.filters > span {
  padding-bottom: 20px;
  color: #7c3f8f;
}

.title {
  font-size: 30px;
  color: #700a8f;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products {
  width: 30%;
  margin: 10px;
  border-radius: 10px;
}

.summary {
  width: 30%;
}

/* Media Queries */
@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}

.loginContainer {
  margin-left: auto;
  margin-right: auto;
  background-color: #e3ecfa;
  padding: 40px 20px 0px 20px;
  width: 600px;
  height: auto;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 2px 2px 2px #f080b8;
}

.loginContainer h2 {
  color: teal;
}

input[type="text"],input[type="email"],
input[type="password"] {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 15px 0px;
  padding: 12px 20px;
}

.loginButton {
  font-size: 18px;
  width: 100px;
  height: 40px;
  background-color: rgb(5, 105, 199);
  color: whitesmoke;
  border: none;
  border-radius: 10px;
}
.loginCancel {
  font-size: 18px;
  width: 100px;
  height: 40px;
  background-color: #e34f6d;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
}
.btnWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
.errorMsg {
  color: #e34f6d;
}
.signUpLink {
  color: rgb(8, 12, 235);
}
.signUpText {
  color: #034606;
}
.msgWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

